{{ define "main" }}

<section class="main">
    <header
        style="{{ if .Params.cover_image }}background-image: url('{{ .Params.cover_image | absURL }}');{{ end }}"
    >
        <div class="container">
            <h1>{{ .Title }}</h1>
            <div>
                <span>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</span>
                <span>{{ .ReadingTime }} minute read</span>
                <span class="tags"
                    >Tags: {{ if ne .Params.tags nil }} {{ range .Params.tags }}
                    <a href="/tags/{{ . }}" title="Tag: {{ . }}">{{ . }}</a>
                    {{ end }} {{ else }} No tags for this post {{ end }}
                </span>
            </div>
        </div>
    </header>
    {{ if le (.Date.Year) (sub now.Year 2) }}
    <div class="outdated">
        Hey, thanks for the interest in this post, but just letting you know
        that it is over 2 years old, so the content in here may not be accurate.
    </div>
    {{ end }}
    <section class="container">
        <article>
            {{ if isset .Params "image" }}
            <div class="post-image">
                <img
                    src="{{ .Params.image | absURL }}"
                    alt="{{ .Params.imageAlt }}"
                />
            </div>
            {{ end }} {{ partial "series.html" . }}
            <section>
                {{ .Content }}
            </section>
        </article>
    </section>

    <section class="pagination container">
        {{ if .PrevInSection }}
        <a href="{{ .PrevInSection.Permalink }}" class="prev"
            >{{ .PrevInSection.Title }}</a
        >
        {{ end }} {{ if .NextInSection }}
        <a href="{{ .NextInSection.Permalink }}" class="next"
            >{{ .NextInSection.Title }}</a
        >
        {{ end }}
    </section>

    <footer>
        {{ partial "disqus" . }} {{ if and (.IsPage) (.GitInfo) }}
        <small class="gray"
            ><em
                >Published: {{ .Page.Lastmod }}, Version:
                <a
                    href="https://github.com/aaronpowell/aaronpowell.github.io/commit/{{ .GitInfo.AbbreviatedHash }}"
                    target="_blank"
                    >{{ .GitInfo.AbbreviatedHash }}</a
                ></em
            ></small
        >
        {{ else }}
        <small class="gray"><em>Published: {{ .Page.Lastmod }}</em></small>
        {{ end }}
    </footer>
</section>

{{ end }}
