<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "header.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <section class="container">
          <section class="content">
              <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

              <div class="sub-header">
                  {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ .ReadingTime }} minute read

                  {{ range .Params.tags }}
                        · <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                  {{ end }}
              </div>

              <article class="entry-content">
                  {{ partial "series.html" . }}

                  {{ .Content }}
              </article>

              <div class="pagination">
                  {{ if .PrevInSection }}
                      <a href="{{ .PrevInSection.Permalink }}">&laquo; {{ .PrevInSection.Title }}</a>
                  {{ end }}
                  {{ if .NextInSection }}
                      <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &raquo;</a>
                  {{ end }}
              </div>
          </section>
          <br>
          {{ partial "disqus" . }}

          {{ if and (.IsPage) (.GitInfo) }}
          <small class="gray"><em>Published: {{ .Page.Lastmod }}, Version: <a href="https://github.com/aaronpowell/aaronpowell.github.io/commit/{{ .GitInfo.AbbreviatedHash }}" target="_blank">{{ .GitInfo.AbbreviatedHash }}</a></em></small>
          {{ else }}
          <small class="gray"><em>Published: {{ .Page.Lastmod }}</em></small>
          {{ end }}
      </section>


    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
    <script src="/code-print.js"></script>
    <script src="https://unpkg.com/highlightjs-cshtml-razor@1.0.0/cshtml-razor.js"></script>
  </body>
</html>
