<style>
    .container {
        max-width: 55em;
    }

    #tags {
        display: inline-block;
        clear: both;
        margin: 0px;
    }

    #tags li {
        list-style: none;
        float: left;
    }

    .not-found a {
        text-decoration: underline;
    }

    #toc {
        top: 70px;
        right: 350px;
        border: 1px solid #ccc;
        padding: 10px;
        position: absolute;
        border-radius: 5px;
        font-size: 12px;
    }

    #toc p {
        margin: 0px;
    }

    #toc ul {
        margin-bottom: 0px;
        list-style-type: none;
    }

    #toc ul li {
        list-style-type: none;
        margin: 0px;
    }

    @media(print) {
        #toc {
            display: none;
        }
    }

    hr {
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }

    a code {
        border-bottom: 2px solid #DA784D;
    }
</style>
