$xsmall: 576px;
$small: 768px;
$normal: 992px;
$wide: 1200px;

$primaryHighlightColour: #02bdd5;
$primaryTextColour: #555;
$primaryHeaderColour: #333;

$light-medium-gray: #dbdbdb;
$shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.18);
