@import "./_variables.scss";

#about {
    display: grid;
    grid-template-columns: 100px 2fr 2fr 100px;
    grid-gap: 30px;

    margin-top: 50px;

    :nth-child(1) {
        grid-column: 1;
    }

    :nth-child(2) {
        grid-column: 2;
        animation: 1s linear 0.4s 1 fadeInLeft;
    }

    :nth-child(3) {
        grid-column: 3;
        animation: 1s linear 0.4s 1 fadeInRight;

        img {
            max-width: 400px;
        }
    }

    :nth-child(4) {
        grid-column: 4;
    }
}

@media (max-width: $xsmall) {
    #about {
        display: block;
    }
}

@media (max-width: $small) {
    #about {
        grid-template-columns: 10px 1fr 1fr 10px;
    }
}
