footer {
    text-align: center;
    ul {
        list-style-type: none;
        padding: 0px;

        li {
            display: inline-block;
            font-size: 30px;
            padding: 20px;
        }
    }

    p {
        font-size: 0.8rem;
    }
}
