@mixin rotateWords($num, $int) {
    @for $i from 1 through $num {
        &:nth-child(#{$i}) {
            animation-name: fade#{$i};
        }
    }
}

@mixin fadeEffect($num) {
    @for $i from 1 through $num {
        $j: 100 / $num;

        @keyframes fade#{$i} {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 0;
            }

            $y: (($i * $j) - $j) * 1%;
            $z: (($i * $j) - 1) * 1%;

            #{$y - 1} {
                opacity: 0;
            }

            #{$y} {
                opacity: 1;
            }

            #{$z - 1} {
                opacity: 1;
            }

            #{$z} {
                opacity: 0;
            }
        }
    }
}

$num: 3;
$int: 2.5s;
$duration: $num * $int;

@include fadeEffect($num);

.rotate {
    display: grid;

    span {
        animation-duration: $duration;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        opacity: 0;
        overflow: hidden;
        // position: absolute;
        // text-indent: 0.5ch;

        grid-row: 1;
        grid-column: 1;

        @include rotateWords($num, $int);
    }
}