@import './variables.scss';

.container {
    margin: 0 auto;
}

@media (min-width: $xsmall) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: $small) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: $normal) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: $wide) {
    .container {
        max-width: 1140px;
    }
}
