@import "./_variables.scss";

#speaking {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.talk-list {
    article {
        margin-bottom: 10px;
    }
}

@media (max-width: $small) {
    #speaking {
        display: block;
    }
}
