@import "./variables.scss";

.talks {
    section.container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 20px;
    }

    .bio {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 50px;

        img {
            max-width: 200px;
            border-radius: 5px;
        }

        .bios,
        .calendar {
            grid-column-start: span 2;
        }

        .calendar {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                h3 {
                    font-size: 1.25rem;
                    margin: 0;

                    a {
                        text-decoration: none;
                        font-weight: normal;
                    }
                }
                time {
                    font-size: 1rem;
                }
            }

            .toggle-upcoming {
                display: none;
            }
        }
    }
}

@media (max-width: $small) {
    .talks {
        section.container {
            grid-template-columns: 1fr;
        }

        .bio {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            p,
            h4 {
                margin: 5px 0px;
            }

            .calendar {
                .toggle-upcoming {
                    text-decoration: none;
                    text-transform: uppercase;

                    font-size: 0.8rem;

                    display: inline-block;
                    padding: 10px;
                    border: 1px solid #fff;
                    box-shadow: 0 0 0 1px $primaryHighlightColour;
                    background-color: $primaryHighlightColour;
                    color: #fff;
                    transition: background-color 0.2s ease-in;

                    &:hover {
                        transition: background-color 0.2s ease-in;
                        background-color: darken($primaryHighlightColour, 10%);
                    }
                }

                .upcoming {
                    display: none;
                }
            }
        }
    }
}
