{{ define "main" }}

<section class="main talks">
    <header>
        <div class="container">
            <h1>{{ .Title }}</h1>
        </div>
    </header>

    <section class="container">
        {{ with .Site.Params.speaking }}
        <div class="bio">
            <div>
                <img src="{{ .bio.avatar }}" alt="Aaron Powell headshot" />
            </div>
            <div>
                <h3>Aaron Powell</h3>
                <p>
                    Web Developer, Open Source Tinkerer, Lover of Crazy Ideas.
                </p>
                <p>
                    <i class="icon ion-logo-twitter"></i> Twitter:
                    <a
                        href="https://twitter.com/{{ .bio.twitter }}"
                        target="_blank"
                        title="Twitter: @{{ .bio.twitter }}"
                        >@{{ .bio.twitter }}</a
                    >
                    <br />
                    <i class="icon ion-md-camera"></i> Gravatar:
                    <a
                        href="https://www.gravatar.com/avatar/{{ .bio.gravatar }}?s=500"
                        target="_blank"
                        title="Gravatar Headshot"
                        >Link to headshot</a
                    >
                    <span style="font-size: 0.8rem">
                        (<a
                            href="https://www.gravatar.com/avatar/{{ .bio.gravatar }}?s=200"
                            target="_blank"
                            title="Gravatar Headshot"
                            >200px</a
                        >
                        <a
                            href="https://www.gravatar.com/avatar/{{ .bio.gravatar }}?s=500"
                            target="_blank"
                            title="Gravatar Headshot"
                            >500px</a
                        >
                        <a
                            href="https://www.gravatar.com/avatar/{{ .bio.gravatar }}?s=2048"
                            target="_blank"
                            title="Gravatar Headshot"
                            >Full Size</a
                        >)
                    </span>
                </p>
            </div>
            <div class="bios">
                <h4>
                    Short Bio
                    <button
                        class="copy"
                        data-target="#short-bio"
                        title="Copy short bio"
                    >
                        ✂
                    </button>
                    <span class="copied">✔</span>
                </h4>
                <p id="short-bio">{{ .bio.short | markdownify }}</p>

                <h4>
                    Full Bio
                    <button
                        class="copy"
                        data-target="#full-bio"
                        title="Copy full bio"
                    >
                        ✂
                    </button>
                    <span class="copied">✔</span>
                </h4>
                <p id="full-bio">{{ .bio.long | markdownify }}</p>
            </div>

            <div class="calendar">
                {{ $upcomingTalks := where .talks "date" ">" now }}
                <h4>Upcoming Talks</h4>
                {{ if eq (len $upcomingTalks) 0 }}
                <p>No upcoming talks. 😢</p>
                {{ else }}
                <ul class="talk-list">
                    {{ range sort $upcomingTalks "date" "asc" }}
                    <li>{{ partial "talk" . }}</li>
                    {{ end }}
                </ul>
                {{ end }} {{ $pastTalks := where .talks "date" "<=" now }}
                <h4>Past Talks</h4>
                <button class="toggle-upcoming">Toggle upcoming</button>
                <ul class="talk-list upcoming">
                    {{ range sort $pastTalks "date" "desc" }}
                    <li>{{ partial "talk" . }}</li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>

        <div class="post-list">
            {{ range sort .Data.Pages "Title" "asc" }}
            <article>
                <h3>
                    <a href="{{ .Permalink }}" title="{{ .Title }}"
                        >{{ .Title }}</a
                    >
                </h3>
                <div>{{ .Params.abstract | truncate 100 | markdownify }}</div>
                <a
                    href="{{ .Permalink }}"
                    title="Talk Details"
                    class="read-more"
                    >Talk Details</a
                >
            </article>
            {{ end }}
        </div>
    </section>
</section>

{{ end }}
