<section class="disqus container">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        (function() {
            // Don't ever inject Disqus on localhost--it creates unwanted discussions
            if (window.location.hostname == "localhost") return;
            var dsq = document.createElement("script");
            dsq.type = "text/javascript";
            dsq.async = true;
            dsq.src =
                "//{{ .Site.Params.DisqusShortname }}.disqus.com/embed.js";
            (
                document.getElementsByTagName("head")[0] ||
                document.getElementsByTagName("body")[0]
            ).appendChild(dsq);
        })();
    </script>
    <noscript
        >Please enable JavaScript to view comments powered by
        <a href="http://disqus.com/?ref_noscript">Disqus</a>.</noscript
    >
</section>
