{{ if .Site.Params.speaking.enable }} {{ with .Site.Params.speaking }}
<section id="speaking" class="container">
    <div>
        <h2>{{ .title }}</h2>
        {{ $talks := where .talks "date" ">" now }} {{ if eq (len $talks) 0 }}
        <p>No upcoming talks. 😢</p>
        {{ else }}
        <ul class="talk-list">
            {{ range sort $talks "date" "asc" }}
            <li>
                {{ partial "talk" . }}
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
    <div>
        <p>{{ .content }}</p>
        <h3>
            <a href="/talks/" title="Available Talks">My Available Talks</a>
        </h3>
    </div>
</section>
{{ end }} {{ end }}
