<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "header.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <section class="container">
          <section class="content">
              <h1>{{ .Title }}</h1>

              <article class="entry-content">
                <h2>Abstract</h2>
                <pre style="white-space: pre-line;">{{ .Params.abstract }}</pre>

                <h3>Duration: {{ .Params.duration }}</h3>

                <h2>Audience Profile</h2>
                <ul>
                    {{ range .Params.audience }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>

                <h2>Notes</h2>
                <pre style="white-space: pre-line;">{{ .Params.notes }}</pre>

                <h2>Additional Resources</h2>
                <ul>
                    {{ range .Params.resources }}
                    <li><a href="{{ .link }}" target="_blank" title="{{ .name }}">{{ .name }}</a></li>
                    {{ end }}
                </ul>
              </article>
          </section>

          <br>
          {{ partial "disqus" . }}

          {{ if and (.IsPage) (.GitInfo) }}
          <small class="gray"><em>Published: {{ .Page.Lastmod }}, Version: <a href="https://github.com/aaronpowell/aaronpowell.github.io/commit/{{ .GitInfo.AbbreviatedHash }}" target="_blank">{{ .GitInfo.AbbreviatedHash }}</a></em></small>
          {{ else }}
          <small class="gray"><em>Published: {{ .Page.Lastmod }}</em></small>
          {{ end }}
      </section>


    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
    <script src="/code-print.js"></script>
    <script src="https://unpkg.com/highlightjs-cshtml-razor@1.0.0/cshtml-razor.js"></script>
  </body>
</html>
