<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>

        <rewrite>
            <rules>
                <rule name="Redirect to https">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="Off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>

                <rule name="Drop html">
                    <match url="(.*).html$" />
                    <action type="Rewrite" url="/{R:1}" redirectType="Permanent" />
                </rule>

                <rule name="Drop default.aspx">
                    <match url="(.*)/default.aspx$" />
                    <action type="Rewrite" url="/{R:1}" redirectType="Permanent" />
                </rule>

                <rule name="Drop aspx">
                    <match url="(.*).aspx$" />
                    <action type="Rewrite" url="/{R:1}" redirectType="Permanent" />
                </rule>

                <rule name="RSS repoint">
                    <match url="feed$" />
                    <action type="Rewrite" url="/index.xml" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>