<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>

        <rewrite>
            <rules>
                <!-- <rule name="Redirect to https">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="Off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule> -->

                <rule name="Drop html">
                    <match url="(.*).html$" />
                    <action type="Rewrite" url="/{R:1}" redirectType="Permanent" />
                </rule>

                <rule name="Drop default.aspx">
                    <match url="(.*)/default.aspx$" />
                    <action type="Rewrite" url="/{R:1}" redirectType="Permanent" />
                </rule>

                <rule name="Drop aspx">
                    <match url="(.*).aspx$" />
                    <action type="Rewrite" url="/{R:1}" redirectType="Permanent" />
                </rule>

                <rule name="RSS repoint">
                    <match url="feed$" />
                    <action type="Rewrite" url="/index.xml" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>

        <httpProtocol>
            <customHeaders>
                <add
                    name="Content-Security-Policy-Report-Only"
                    value="default-src 'none'; script-src 'self' c.disquscdn.com cdnjs.cloudflare.com www.google-analytics.com code.jquery.com aaronpowell.disqus.com; style-src 'self' c.disquscdn.com fonts.googleapis.com; img-src 'self'; form-action 'self'; report-uri https://aaronpowell.report-uri.com/r/d/csp/reportonly" />
                <add name="X-Xss-Protection" value="1; mode=block; report=https://aaronpowell.report-uri.com/r/d/xss/enforce" />
                <add name="Except-CT" value="max-age=0; report=https://aaronpowell.report-uri.com/r/d/xss/enforce" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>